<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872700147849-kg1o3s934hptq3luv54egithupjnl09r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872700147849-kg1o3s934hptq3luv54egithupjnl09r</string>
	<key>API_KEY</key>
	<string>AIzaSyATE5CLzNwog7HjLIRrTz3ISY0t1RUJcqk</string>
	<key>GCM_SENDER_ID</key>
	<string>872700147849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.edu.ittepic.damU4Proyecto117401014</string>
	<key>PROJECT_ID</key>
	<string>proyecto1-17401014</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto1-17401014.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872700147849:ios:7b0eea5da3463d39866e58</string>
</dict>
</plist>